.cat-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    flex-wrap: wrap;
gap: 10px;
}
.cat-container select{
    max-width: 300px;
    flex-basis: 300px;
}