.card-pd {
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: var(--second-color);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 300px;
  text-decoration: none;
  position: relative;
max-width: 320px;
}
.card-pd .title {
  font: normal normal 800 25px / 25px var(--font-family-neu);
  font-size: clamp(12px, 4vw, 25px);
  line-height: clamp(15px, 4vw, 25px);
  color: var(--brand-color);
}
.card-pd .desc {
  font: normal normal 500 18px / 20px var(--font-family-neu);
  font-size: clamp(10px, 4vw, 18px);
  line-height: clamp(12px, 4vw, 23px);
  color: var(--fad-black);
}
.img-sec {
  margin: 0;
  padding: 10px;
  border-radius: 0.5rem;

}

.card-pd img {
    border-radius: 0.5rem;
  max-width: 100%;
  aspect-ratio: 3 / 3;
}
.card-pd-body {
  padding: 5px 10px 20px 10px;
}
.card-pd:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card-pd .rating {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-bottom: 10px;
}
.card-pd .rating .rate,.card-pd .rating .member {
    font: normal normal 500 18px / 20px var(--font-family-inter);
    font-size: clamp(10px, 4vw, 18px);
    line-height: clamp(12px, 4vw, 20px);
    color: var(--fad-black);
  }
.card-pd .rating i {
  color: var(--brand-color);
}
.card-pd  .add-to-cart-sec {
 
    transform: translateY(0%);
    position: absolute;
    transition: all 0.5s ease-in-out;
 left:0;
 right: 0;
 width: fit-content;
 margin: auto;
 opacity: 0;

  }
  .card-pd:hover .add-to-cart-sec {
    opacity: 1;
    transform: translateY(-100%);

  }
  .card-pd  .price,  .card-pd  .addtocart,  .card-pd  .quantity {
    font: normal normal 800 30px / 30px var(--font-family-merri);
    font-size: clamp(15px, 4vw, 30px);
    line-height: clamp(15px, 4vw, 30px);
    color: var(--brand-color);
    background-color: #000;
 border-radius: 15rem;
 padding: 10px;
 width: fit-content;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .card-pd  .quantity input{
    max-width: 50px;
  }

@media screen and (max-width:720px) {
  .card-pd {
    overflow: unset;

  }
  .card-pd  .add-to-cart-sec {
 
    transform: unset;
    position: relative;
    transition: all 0.5s ease-in-out;
 left:0;
 right: 0;
 width: 100%;
 margin: auto;
 opacity: 1;

  }
  .card-pd  .price,  .card-pd  .addtocart,  .card-pd  .quantity {
    font: normal normal 800 15px / 15px var(--font-family-merri);
    font-size: clamp(10px, 4vw, 15px);
    line-height: clamp(10px, 4vw, 15px);
    color: var(--brand-color);
    background-color: #000;
 border-radius: 15rem;
 padding: 10px;
 width: 100%;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
text-align: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .card-pd  .quantity input{
    max-width: 50px;
  }
}
